!!! 5
%html
    %head
        %title FreeCodeCamp : Drum Machine
        %meta{name:"viewport",content:"width=device-width, initial-scale=1"}
        %link{rel:"stylesheet",href:"css/index.css"}
        %script{src:"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"}
        %script{src:"https://unpkg.com/react@16.8.3/umd/react.development.js"}
        %script{src:"https://unpkg.com/react-dom@16.8.3/umd/react-dom.development.js"}
        %script{src:"js/index.js"}
    %body
        #drum-machine
            #display
        %script{src:"https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"}
            